In [60]:
import cobra

In [61]:
from cobra import Model,Metabolite,Reaction

In [62]:
model_name=Model("Model1")

In [63]:
########  Reactions  ##########

# Reaction 0 : v0 to A

v0=Reaction('v0')
v0.name='V0'
v0.lower_bound=1
v0.upper_bound=1

# Reaction 1 : A to B

v1=Reaction('v1')
v1.name='V1'
v1.lower_bound=0
v1.upper_bound=1000

# Reaction 2 : B to C

v2=Reaction('v2')
v2.name='V2'
v2.lower_bound=0
v2.upper_bound=1000

# ATP Reaction : A to ATP

r_ATP=Reaction('r_ATP')
r_ATP.name='R_ATP'
r_ATP.lower_bound=0
r_ATP.upper_bound=1000

# Reaction 3 : ATP to outside the cell

v3=Reaction('v3')
r_ATP.name='V3'
r_ATP.lower_bound=0.9
r_ATP.upper_bound=0.9

# Reaction M : C to outside the cell

M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

In [64]:
######  Metabolites  ######

A= Metabolite('A',compartment='c')
B= Metabolite('B',compartment='c')
C= Metabolite('C',compartment='c')
ATP= Metabolite('ATP',compartment='c')

In [65]:
# Add metabolites in Reaction 1 #

v1.add_metabolites({A:-1,B:1})

# Add metabolites in Reaction 2 #

v2.add_metabolites({B:-1,C:1})

# Add metabolites in Reaction 0 #

v0.add_metabolites({A:1})

# Add metabolites in Reaction M #

M.add_metabolites({C:-1})

# Add metabolites in reaction r_ATP #

r_ATP.add_metabolites({A:-1,ATP:1})

# Add metabolites in Reaction 3 #

v3.add_metabolites({ATP:-1})

In [66]:
# Add Reactions in model  #

model_name.add_reactions([v0,v1,v2,v3,M,r_ATP])

In [67]:
# Put M as a objective function #

model_name.objective = 'M'

In [68]:
model_name.optimize()

In [69]:
model_name.summary()